*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.seller-img img{
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.seller-text{
    background-color: blue;
    text-align: center;
    color: white;
    padding: .5rem;
}

.seller-text p{
    font-family: 'Raleway', sans-serif;
    line-height: 1.5rem;
    font-size: .9rem;
    padding: .5rem 2rem;
}

.seller-text span{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
}

button{
    background-color: rgb(131, 219, 0);
    padding: .5rem;
    border: none;
    color: white;
    font-weight: 600;

}