.header-container{
    display: flex;
    flex-direction: column;
}

.logo-container{
    text-align: center;
    padding: 1.5rem;
    /* background-color: red; */
}

hr{
    color: rgba(0, 0, 0, 0.262);
    font-weight: 100;
}

.navbar-container{
    padding: 1rem 0;
    font-family: 'Raleway', sans-serif;
}

span{
    color: #037bc0;
}